@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Libre+Bodoni:wght@700&family=Montserrat:ital@1&family=Passion+One:wght@700&display=swap');

/* cabeçalho */
html {
    font-family: 'Fredoka';
}

.caixa {
    font-family: 'Fredoka';
    background-color: rgb(0, 44, 55);
    height: 100px;
    width: 100%;
}

ul {
    margin: 15px;
    position: absolute;
    top: 80px;
    left: 840px;
}

.logoBranca {
    margin-left: 32%;
    margin-bottom: 50%;
    width: 300px;

}

/* corpo da pagina */

body {
    background-color: rgb(240, 246, 255);
    font-family: 'Fredoka';
    display: inline-block;

}

li {
    margin: 15px;
    font-family: 'Fredoka';
    display: inline;

}

a {
    font-weight: bold;
    margin: 15px;
    font-family: 'Fredoka';
    text-transform: uppercase;
    color: #ffffff;
    font-size: clamp(0.5em, 0.5em + 0, 1vw, 0, 5em);
    text-decoration: none;
}

/* estilização da parte de login */
.login {
    margin: 15px;
    font-family: 'Fredoka';
    margin-top: 20%;
    margin-left: 60%;
}

form {
    font-family: 'Fredoka';
    margin-left: 100%;
    padding: 40px 0;
}

main {

    font-family: 'Fredoka';
    margin: 0 auto;
    margin-left: 35%;
    margin-top: 3%;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-size: clamp(0.1em, 0.1em + 0, 01vw, 0, 5em);
}

form legend {
    display: block;
    margin: 15px;
    font-size: clamp(0.1em, 0.1em + 0, 01vw, 0, 5em);
}



.input-block {
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
    padding: 4px 7px;
    width: 50%;

}

.input-inline {
    margin-bottom: 0px;
    margin-right: 10px;
    font-size: clamp(0.1em, 0.1em + 0, 01vw, 0, 5em);

}

select {
    margin-bottom: 20px;
    width: 250px;
    height: 30px;
    font-size: clamp(0.2em, 0.2em + 0, 2vw, 1em);

}

/* botao enviar reclamação */
.enviar {
    margin-left: 6%;
    margin-bottom: 40px;
    color: black;
    width: 40%;
    padding: 15px 0;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    font-size:  22px;
    border: solid 1px;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    font-family: 'Fredoka';
}

.enviar:hover {
    color: #ffffff;
    background-color: rgb(0, 44, 55);
    transform: scale(1.2);
}

table {
    margin-left: 60%;

}

/* rodapé */
footer {

    width: 100%;
    background-color: black;
    text-align: center;


}

.copyright {
    width: 100%;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-size: 10px;

}

.img-copy {
    width: 20%;
}