@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Libre+Bodoni:wght@700&family=Montserrat:ital@1&family=Passion+One:wght@700&display=swap');


/* cabeçalho */
html {
    font-family: 'Fredoka';
    background-color: rgb(240, 246, 255);

}

.header {
    width: 100%;
    font-family: 'Fredoka';

}

.caixa {

    background-color: rgb(0, 44, 55);
    height: 100px;
    width: 100%;
}

ul {
    margin: 15px;
    position: absolute;
    top: 65px;
    left: 830px;
}

.logo-Branca {
    margin-left: 32%;
    margin-bottom: 50%;
    width: 300px;
}

.banner {
    margin-bottom: 3%;
    width: 100%;


}

/* corpo */
body {
    height: 50vh;

    display: inline-block;
    overflow-x: hidden
}

a {
    display: inline-block;
}

/* corpo do site */
.corpo {
    margin-bottom: 2%;
    margin-top: 2%;
    display: flex;
    width: auto;
    margin: 0 auto;
    justify-content: center;
}

main {

    margin-bottom: 3%;
    font-family: 'Fredoka';
}

/* cartoes da pagina */
.card-prova {
    list-style: none;
    font-size: 30px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 700px;


}

/* imagem do lado do botao lista de pontuação */
.img-prova {
    margin-top: 3%;
    width: 45px;


}

/* imagem segundo modo de ligar */
.img-ligar-2 {
    width: 35px;
    margin-top: 2%;
}

/* cartão para adicionar novas provas posteriomente */
.card-proximo {
    display: block;
    list-style: none;
    font-size: 30px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 700px;

}

.card-prova:hover {
    transform: scale(1.03);
    transition: 1s all;
    cursor: pointer;

}

.card-proximo:hover {
    transform: scale(1.03);
    transition: 1s all;
    cursor: pointer;
}

.card-erro:hover {
    transform: scale(1.03);
    transition: 1s all;
    cursor: pointer;
}

.informacao {

    color: black;
    width: 35%;
    padding: 15px 0;
    background-color: rgb(4, 255, 133);
    font-weight: bold;
    font-size: 18px;
    border: solid 1px;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.informacao:hover {
    color: #ffffff;
    background-color: rgb(0, 44, 55);
    transform: scale(1.04);
}

/* escrita no card-proximo */
.em-breve {
    color: rgb(13, 68, 123);
}

/* card que pode ser usado para redirecionar a pessoa para area contatos */
.card-erro {
    display: block;
    list-style: none;
    font-size: 30px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 15, 15, 15, 15;
    width: 400px;
    height: 700px;

}

li {
    font-size: 15px;
    display: inline;
    margin: 0 0 0 15px;
}

a {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

/* imagem da PM ES */
.banner-policia {

    width: 90%;
    margin-top: 13%;
}

/* estilisação para frase atualizações */
.atualizacao {
    color: #000000;
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 20px;
}

/* botões "lista de pontuação" & "por aqui" */
.pontuacao,
.botao-2contato {

    color: black;
    width: 35%;
    padding: 15px 0;
    background-color: rgb(4, 255, 133);
    font-weight: bold;
    font-size: 18px;
    border: solid 1px;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;

}

/*  botão "lista de pontuação" quando mouse passa  */
.pontuacao:hover {
    color: #ffffff;
    background-color: rgb(0, 44, 55);
    transform: scale(1.05);
}

/*  botão "por aqui" quando mouse passa  */
.botao-2contato:hover {
    color: #ffffff;
    background-color: rgb(0, 44, 55);
    transform: scale(1.04);
}

/* rodapé */
footer {
    position: static;
    bottom: 0;
    background-color: #000000;
    text-align: center;

}

.copyright {

    width: 100%;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-size: 10px;
    margin: 0, 0;
}

.img-copy {
    margin: 0, 0;
    width: 20%;

}