@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Libre+Bodoni:wght@700&family=Montserrat:ital@1&family=Passion+One:wght@700&display=swap');

/* cabeçalho */

.caixa {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: rgb(0, 44, 55);
  height: 85px;
  width: 100%;
}

.logoBranca {
  margin-left: 32%;
  margin-bottom: 50%;
  width: 270px;
}

ul {
  margin: 0 auto; 
  position: absolute;
  top: 40px;
  right: 600px;
}

li {
  margin: 5px;
  margin-bottom: 25%;
  font-size: 15px;
  display: inline;

}

a {
  width: 50%;
  margin-bottom: 25%;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

/* corpo do site */
html {
  font-family: 'Fredoka';
  white-space: nowrap;
}

body {
  font-family: 'Fredoka';
  display: inline-block;

  background-color: rgb(240, 246, 255);
  margin: 0 auto;
  display: inline-block;
}

main {
  padding: 15px;
  box-shadow: 0 0 3em #AAB1DF;
  background-color: rgb(240, 246, 255);
  margin: 0 auto;
  font-size: clamp(0.2em, 0.2em + 0, 2vw, 1em);
  width: 940px;
  font-family: 'Fredoka';

}


/* parte de busaca */
.busca {
  height: 100px;
  margin-top: 85px;
  display: flex;
  justify-content: center;
}

.filtros{
  display: flex;
  align-items: center;
}


.filtros input{
  width: 200px;
  margin: 0 20px 0 5px;
  height: 20px;
  padding: 2px;
  font-family: 'Fredoka';
  font-size: 15px;
}

/* parte de tabela */

thead {
  border-radius: 18px;
  margin: 5px;
  width: 50%;

}

tr {
  width: 50%;
}

thead th{
  background-color: rgb(0, 44, 55);
  color: white;
  text-align: left;
  padding: 10px;
  width: 90%;
}

td {
  width: 50%;
  /* margin: 5px; */
  padding: 7px;
  border-bottom: 1px solid rgb(0, 44, 55);

}

  tr:nth-child(even){
    background-color: rgba(0, 44, 55, 0.11);
  }


/* rodapé */
footer {
position: relative;
top: 50vh;
  margin-top: 30px;
  background-color: #00181F;
  width: 100%;
  text-align: center;

}

.copyright {

  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 10px;

}

.img-copy {
  width: 5%;


}